[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "REDCapCAST"]
	path = REDCapCAST
	url = https://github.com/agdamsbo/redcapcast
[submodule "stRoke"]
	path = stRoke
	url = https://github.com/agdamsbo/stroke
